<section>
  <nav class="bg-white border-2 border-t-0 border-sky-200 py-5 rounded w-full">
    <div class="flex flex-wrap justify-between items-center">
      <a routerLink=""><img class="mt-2" src="../../../assets/img/logout.png"></a>
      <div class="flex items-center md:order-2">
        <p class="font-bold ml-2 text-sky-700">The Doctor App</p>
        <img class="w-8" src="../../../assets/img/logo.png">
      </div>
      <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-2">
        <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
          <li>
            <a href="#" class="pl-6 text-gray-700 md:hover:text-cyan-700">الصفحة الرئيسية</a>
          </li>
          <li>
            <a href="#" class="pl-6 text-gray-700 md:hover:text-cyan-700">التقارير </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<div class="m-4 border-2 rounded">
<app-drugstable></app-drugstable>
</div>

</section>
