<!--nav bar-->

<app-navbar></app-navbar>
<div class="bg-gray-100 min-h-screen min-w-screen">
  <div class="bg-gray-100 text-gray-500 rounded-3xl shadow-lg shadow-sky-100">
    <div class="md:flex justify-around sm:flex-row p-3">
        <div class="bg-[#487DF8] h-24 rounded-lg flex justify-start items-center mt-3 py-1 px-3">
          <div class="bg-white rounded-full p-2">
            <img class="w-12" src="../../../assets/img/test.png" />
          </div>
          <div class="px-3 py-2 flex items-center justify-center">
            <p class="font-bold text-xl text-white">عدد المرضى الكلي في العيادة</p>
            <p class="block font-semibold mr-2 text-2xl text-gray-100">110</p>
          </div>
        </div>

       <div class="bg-[#34d399] h-24 rounded-lg flex justify-start items-center mt-3 py-1 px-3">
          <div class="bg-white rounded-full p-2">
            <img class="w-12" src="../../../assets/img/green_part.png" />
          </div>
          <div class="px-3 py-2 flex items-center justify-center">
            <p class="font-bold text-xl text-white">only for test</p>
            <p class="block font-semibold mr-2 text-2xl text-gray-100">110</p>
          </div>
        </div>

        <div class="bg-[#facc15] h-24 rounded-lg flex justify-start items-center mt-3 py-1 px-3">
          <div class="bg-white rounded-full p-2">
            <img class="w-12" src="../../../assets/img/yellow_part.png" />
          </div>
          <div class="px-3 py-2 flex items-center justify-center">
            <p class="font-bold text-xl text-white">only for test</p>
            <p class="block font-semibold mr-2 text-2xl text-gray-100">110</p>
          </div>
        </div>

    </div>
  </div>
  <app-list></app-list>
</div>
